{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card" style="width: 24rem;">
        <div class="card-body">
            <h5 class="card-title">Account Details</h5>
            <form action="{{ url_for('update_account') }}" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label"><strong>Change Username:</strong></label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ username }}">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label"><strong>Change Password:</strong></label>
                    <input type="password" class="form-control" id="password" name="password" value="{{ password }}">
                </div>
                <button type="submit" class="btn btn-success">Update</button>
            </form>
            <a href="{{ url_for('logout') }}" class="btn btn-primary mt-3">Logout</a>
        </div>
    </div>
</div>
{% endblock %}
